$bgColor= #00bcd4
$textColor= #333
$bgWhite= #fff

//文字超出省略
ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
//group title
group-title()
  height: 1rem
  line-height: 1rem
  font-size: 18px
  padding: 0 .3rem
  color:$textColor
  overflow: hidden
  >i
    font-size: 22px
    color:#f00
  .all-list
    display: inline-block
    font-size: 16px
    float: right
    a
      color:#616161
      font-size: 14px
    .icon-previewright
      display: inline-block
      font-size: 18px
